<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>homepage_dms</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    </head>

    <body>
        <div class="header">
            <h1> いらっしゃいませ！ </h1>
        </div>

        <div class="content">
            <div class="row">
                <div class="col rectangle"> <a href="/ocr_json/ocr_index/"> PDF to JSON </a>  </div>
                <div class="col rectangle"> <a> はこに </a> </div>
            </div>

            <div class="row">
                <div class="col rectangle"> <a href="/search_merger/search_index/"> Searchable PDF </a> </div>
                <div class="col rectangle"> <a> はこよん </a> </div>
            </div>

            <div class="row">
                <div class="col rectangle"> <a> はこご </a> </div>
                <div class="col rectangle"> <a> はこ六  </a> </div>
            </div>
        </div>
        <img src="https://images.unsplash.com/photo-1568039955984-85273dd1cd2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80"/>
    </body>
</html>